<template>
  <!-- <div>
        <button @click='login'>Login</button>
      </div> -->
  <var-app-bar>
    <n-menu v-model="activeKey" mode="horizontal" :options="menuOptions" />
  </var-app-bar>

</template>  

<script>
import { defineComponent, h } from "vue";
import { resolveComponent } from 'vue'
import { NIcon } from "naive-ui";
import { PersonOutline as PersonIcon } from "@vicons/ionicons5";
import { useStore } from "vuex";
// import { mapActions } from 'vuex'
import { ref } from "vue";
import { Snackbar } from "@varlet/ui";

function renderIcon(icon) {
  return () => h(NIcon, null, { default: () => h(icon) });
}

// export default {
export default defineComponent({
  setup() {
    const store = useStore();
    const offsetY = ref(false);
    // const menuList = ref([
    //   { label: "options1", value: "menu1" },
    //   { label: "options2", value: "menu2" },
    // ]);

    const menuOptions = [
      {
        label: () =>
          h(
            resolveComponent('router-link'),
            { to: '/epic/login' },
            { default: () => 'Backend' }
          ),
        key: 'epic-login',
        icon: renderIcon(PersonIcon)
      },
      {
        label: "Standalone",
        key: "standalone",
        icon: renderIcon(PersonIcon),
        children: [
          {
            type: "group",
            label: "Step 1",
            key: "step-1",
            children: [
              {
                label: () =>
                  h(
                    "button",
                    { onClick: () => store.dispatch("authStandAlone/loginOauth") },
                    { default: () => "Login" }
                  ),
                key: "standalone-launch",
              },
            ],
          },
        ],
      },
    ];

    const goBack = () => {
      Snackbar({
        content: "Go Back",
        position: "top",
      });
    };

    return {
      offsetY,
      // menuList,
      goBack,
      activeKey: ref(null),
      menuOptions,
    };
  },

  // methods: {
  // ...mapActions({login: 'authStandAlone/loginOauth'})
  // }
});
// const baseUrl = 'https://fhir.epic.com/interconnect-fhir-oauth/oauth2/authorize?response_type=code&redirect_uri=https%3A%2F%2Ffhir.epic.com%2Ftest%2Fsmart&client_id=e31e0f8f-cb86-4291-8954-504e5dab3b48&state=abc123&aud=https://fhir.epic.com/interconnect-fhir-oauth/api/fhir/r4';
// const baseUrl = 'https://fhir.epic.com/interconnect-fhir-oauth/oauth2/authorize?response_type=code&client_id=e31e0f8f-cb86-4291-8954-504e5dab3b48&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F%23%2Fsuccess&scope=fhirUser&aud=https://fhir.epic.com/interconnect-fhir-oauth/api/fhir/r4';
// const baseUrl = 'http://localhost:8080/#/launch?iss=https://fhir.epic.com/interconnect-fhir-oauth/api/fhir/r4&aud=';
// launch --> app

// const menuOptions = [
  // {
  //   label: () =>
  //     h(
  //       resolveComponent('router-link'),
  //       {
  //         to: '/epic/login'
  //       },
  //       { default: () => 'Backend Login' }
  //     ),
  //   key: 'epic-login',
  //   icon: renderIcon(PersonIcon)
  // },
//   {
//     label: () =>
//       h(
//         resolveComponent('router-link'),
//         {
//           to: store.dispatch('auth/loginOauth'),
//         },
//         { default: () => 'standalone' }
//       ),
//     key: 'standalone-launch',
//   },
// ]

//     return {
//       activeKey: ref(null),
//       menuOptions
//     }
//   }
// })
</script>
  
<style>
.var-menu {
  background: green;
}

.menu-list {
  background: #fff;
}

.menu-list .menu-cell {
  display: block;
  padding: 10px;
}
</style>