<template>
  <div>

    <h1> Launch Standalone</h1>

  </div>
</template>

<script>
import FHIR from "fhirclient"

// window.FHIR = FHIR;
// FHIR.oauth2.authorize({
//     "client_id": "e31e0f8f-cb86-4291-8954-504e5dab3b48",
//     "scope": "patient/*.read",
//     "redirect_url": "http://localhost:8080/#/success"
// });

export default {

setup() {

  const client = FHIR.oauth2.authorize({
      "client_id": "e31e0f8f-cb86-4291-8954-504e5dab3b48",
      "scope": "patient/*.read",
      "redirect_url": "http://localhost:8080/#/success"
  });

  return {
    client
  }
}


}
</script>

<style lang="css" scoped>
.n-card {
  /* max-width: 300px; */
  border-radius: 39px;
  background: linear-gradient(145deg, #5bc6ff, #4da7db);
  box-shadow: 19px 19px 10px #489dcf, -19px -19px 10px #62d5ff;
}
</style>
    