<template>
  <div>
    <button @click="loginAdmin">login</button>

    <button @click="getData">read patient</button>

    <br />

    <div>
      <p v-if="arr.length > 0">
        {{ arr }}
      </p>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {};
  },

  computed: {
    ...mapGetters({ arr: "auth/getEpic" }),
  },

  methods: {
    ...mapActions({
      login: "auth/LOGIN_ACTION",
      patient: "auth/getPatient",
    }),

    loginAdmin() {
      this.login();
    },

    getData() {
      this.patient();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
