<template>
  <div >
    <TopNav/>
  <!-- <n-grid cols="1"> -->
    <!-- <n-grid-item> -->

    <router-view />
    <!-- </n-grid-item> -->
  <!-- </n-grid> -->
  </div>
</template>
<script>
import TopNav from '@/components/nav/TopNav'
export default {
  name: 'App',
  components: {
    TopNav
  }
}
</script>
