<template>
  <div>
      <!-- <transition
        name="slide"
        enter-active-class="animated slideInRight delay"
        leave-active-class="animated slideOutLeft">
      <router-view></router-view>
      </transition> -->
      <router-view />
  </div>
</template>


<script>
export default {
  components: {},
}
</script>

<style scoped></style>
