<template>
  <div>
    <h1>Login Epic</h1>

    <p>{{ epicTok }}</p>
    <n-space verticle justify="center" size="large">
      <n-card title="Login" size="small">
        <n-form @submit="onSubmit">
          <button type="submit">Submit</button>
        </n-form>
      </n-card>
    </n-space>

    <br />
    <br />
    <p>{{ patientArr }}</p>
    <n-space verticle justify="space-around" size="medium">
      <n-card title="Patient Info" size="small">
        <n-form @submit="submitPatient">
          <button type="submit">Get Patient</button>
        </n-form>
      </n-card>
    </n-space>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { useForm } from "vee-validate";
import { computed } from "vue";
// import { useField } from 'vee-validate';
// import * as yup from 'yup';

export default {
  setup() {
    const store = useStore();
    const epicTok = computed(() => store.getters["authBackend/getEpicToken"]);

    const patientArr = computed(() => store.getters["authBackend/getPatientArr"]);

    const { handleSubmit } = useForm({});

    const onSubmit = handleSubmit((values) => {
      store.dispatch("authBackend/loginEpic", values);
    });

    const submitPatient = handleSubmit((values) => {
      store.dispatch("authBackend/getPatient", values);
    });

    return {
      epicTok,
      patientArr,
      submitPatient,
      onSubmit,
    };
  },
};
</script>
<style lang="css" scoped>
.n-card {
  /* max-width: 300px; */
  border-radius: 39px;
  background: linear-gradient(145deg, #5bc6ff, #4da7db);
  box-shadow: 19px 19px 10px #489dcf, -19px -19px 10px #62d5ff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
    