<template>
  <div>
  <h1>Login</h1>
  <n-form @submit="onSubmit">
    <input placeholder='Username' name="username" v-model="username" />
    <br/>
    <span>{{ usernameError }}</span>
    <br/>
    <input placeholder='E-Mail' name="email" v-model="email" />
    <br/>
    <span>{{ emailError }}</span>
    <br/>
    <input placeholder='Password' name="password" v-model="password" type="password" />
    <br/>
    <span>{{ passwordError }}</span>
    <br/>
    <button type='submit'>Submit</button>
    <!-- <button :disabled="!meta.dirty">Submit</button> -->
  </n-form>

  </div>
</template>

<script>
import { useStore } from 'vuex'
import { useForm, useField } from 'vee-validate';
import * as yup from 'yup';

export default {
  setup() {

    const store = useStore();

    const schema = yup.object({
      username: yup.string().required(),
      email: yup.string().required().email(),
      password: yup.string().required().min(3),
    });
    
    const { handleSubmit } = useForm({
            validationSchema: schema,
    });

    const { value: username, errorMessage: usernameError } = useField('username');
    const { value: email, errorMessage: emailError } = useField('email');
    const { value: password, errorMessage: passwordError } = useField('password');

    const onSubmit = handleSubmit(values => {
      store.dispatch('authBackend/LOGIN_JWT', values);
    });

    return {
      username,
      usernameError,
      email,
      emailError,
      password,
      passwordError,
      onSubmit
    };
  },
};
</script>
<style lang="css" scoped>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
    