<template>
  <div>
    <h1>Auth Success!!</h1>
    <n-space verticle justify="center" size="large">
      <n-card title="Redirect Auth Successful" size="small">
        <p>{{ getPatient }}</p>
     </n-card>
    </n-space>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: {
    code: {
      type: String,
      required: false,
    },
  },

  computed: {
    ...mapGetters({ 
      getPatient: 'authStandAlone/getPatientArr'
      })
  },

  methods: {
    ...mapActions({ 
      loginFinal: "authStandAlone/loginOauthFinal",
      parseLocation: "authStandAlone/parseLocation" }),
  },

  mounted() {
    this.loginFinal(window.location.search);
    // this.parseLocation(window.location.search);
  },

};
</script>
<style lang="css" scoped>
.n-card {
  /* max-width: 300px; */
  border-radius: 39px;
  background: linear-gradient(145deg, #5bc6ff, #4da7db);
  box-shadow: 19px 19px 10px #489dcf, -19px -19px 10px #62d5ff;
}
</style>
    