<template>

  <div class="home">
    <admin-login/>
  </div>

</template>
<script>
import AdminLogin from '@/components/AdminLogin.vue'
export default {
  name: 'Home',
  components: {
    AdminLogin
  }
}
</script>
